<!-- @format -->

<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h3 class="collapsible__heading">Products</h3>
    <svg class="icon icon--primary collapsible__chevron">
      <use
        xlink:href="/images/sprite.svg#computer
        "
      ></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit molestiae
    facilis vero dolorum in consectetur atque tempore delectus praesentium iure.
  </div>
</div>
