<!-- @format -->

<section class="block block--black block--skewed-right showcase-block">
  <header class="block__header">
    <h2>User-friendly Control Panel</h2>
  </header>
  <div class="grid grid--2cols container">
    <picture class="showcase-block__image">
      <source
        type="image/webp"
        srcset="/images/ipad.webp 1x, /images/ipad@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="/images/ipad.png 1x, /images/ipad@2x.png 2x"
      />
      <img src="/images/ipad.png" alt="" />
    </picture>
    <div class="showcase__group">
      <div class="showcase__media">
        <div class="showcase__icon">
          <svg class="icon icon--primary icon--medium">
            <use xlink:href="/images/sprite.svg#growth"></use>
          </svg>
        </div>
        <div class="showcase__content">
          <h3 class="showcase__content-heading">
            Easy Start & Managed Updates
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            quisquam, ex nostrum vero voluptates dicta excepturi vel
            perspiciatis consequuntur ab.
          </p>
        </div>
      </div>
      <div class="showcase__media">
        <div class="showcase__icon">
          <svg class="icon icon--primary icon--medium">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="showcase__content">
          <h3 class="showcase__content-heading">Staging, GIT & WP-CLI</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            quisquam, ex nostrum vero voluptates dicta excepturi vel
            perspiciatis consequuntur ab.
          </p>
        </div>
      </div>
      <div class="showcase__media">
        <div class="showcase__icon">
          <svg class="icon icon--primary icon--medium">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
        </div>
        <div class="showcase__content">
          <h3 class="showcase__content-heading">Dynamic Caching & More</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
            quisquam, ex nostrum vero voluptates dicta excepturi vel
            perspiciatis consequuntur ab.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
